/*  Milk Splash Page Stylesheet
    Sarah Hum (www.sarahhum.com)
    November 2012
*/

/* CSS Resets ------------------------------ */
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,img,ins,kbd,q,s,samp,
small,strike,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,figcaption,figure,
footer,header,hgroup,menu,nav,output,ruby,section,summary,
time,mark,audio,video {margin: 0; padding: 0; border: 0; vertical-align: baseline; font: inherit; font-size: 100%;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}
body {line-height: 1;}
ol,ul {list-style: none;}
blockquote,q {quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {content: ""; content: none;}
table { border-spacing: 0;border-collapse: collapse;}

/* Links 
------------------------------------------------------------ */
a { z-index: 10;text-decoration: none;}
a:visited { }
a:hover { }
a:focus {outline: thin dotted;}
a:hover, a:active {outline: 0;}

/* Selection 
------------------------------------------------------------ */
::-moz-selection {background: #77C4FF; color: #fff; text-shadow: none;}
::selection {background: #77C4FF; color: #fff; text-shadow: none;}

/* Basic styles
------------------------------------------------------------ */
body, html {
    width: 100%;
    height: 100%;
    color: #232323;
    font-size: 62.5%;
    font-family: 'Asap', Helvetica, sans-serif;
    background: #77C4FF;
}

#wrapper {
    width: 100%;
    height: 100%;
}

#bg {
    position: absolute;
    z-index: -10;
    overflow: hidden;
}

#bg img {
    width: 100%;
    height: 100%;
}

#logo {
    position: absolute;
    top: 120px;
    left: 50%;
    z-index: 10;
    margin-left: -93px;
    width: 186px;
    height: 86px;
    background: url("../img/logo.png");
    background-size: 100%;
    -webkit-filter: drop-shadow(2px 2px 6px rgba(0,0,0,0.2));
    filter: url(shadow.svg#drop-shadow);
}

#steps, #steps2 {
    position: relative;
    width: 440px;
    height: 140px;
    background: url("../img/steps.png");
}

#steps2 {
    background: url("../img/steps2.png");
}

#fb-icon, #twitter-icon {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background: url("../img/fb-icon.png");
}

#twitter-icon {
    position: absolute;
    top: 30px;
    left: 70px;
    background: url("../img/twitter-icon.png");
}

/* Splash Content
------------------------------------------------------------ */
#content {
    position: absolute;
    top: 270px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    height: 540px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.1);

}

#content-container {
    margin: 0 auto;
    width: 450px;
}

#content-container.consumer {
    display: block;
}

#content-container.customer {
    display: none;
}

p {
    margin-bottom: 30px;
    font-style: italic;
    line-height: 28px;
}


li {
    margin-bottom: 10px;
}

h1 {
    margin: 40px 0 0 0;
    color: #77C4FF;
    text-align: center;
    font-size: 4em;
}

h2 {
    margin: 30px auto 0 auto;
    padding-bottom: 30px;
    color: #666;
    font-size: 2.2em;
    line-height: 1.8em;
}

h3 {
    position: absolute;
    bottom: 40px;
    display: inline;
    border-bottom: 1px dotted;
    color: #666;
    font-style: italic;
    font-size: 2em;
    line-height: 13px;
    cursor: pointer;
    -webkit-transition: color 0.2s linear;
}

h3:hover {
    color: #333;
}

#thank-you {
    position: absolute;
    top: 235px;
    left: 295px;
    display: none;
    float: left;
    font-style: italic;
}

.mobile {
    display: none !important;
}


/* Form Field
------------------------------------------------------------ */
#consumer-form, #customer-form {
    margin: 5px auto 0 auto;
    width: 350px;
}

#consumer-form {
    margin: 15px auto;
}

input[type=text] {
    position: relative;
    margin: 0 auto 10px;
    padding: 10px 15px 10px 15px;
    width: 315px;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #666;
    font-size: 14px;
}

::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;
}
:-ms-input-placeholder {
    font-style: italic;
}

input[type=text]:focus, textarea:focus {
    outline: none;
    -webkit-box-shadow: 0 0 16px rgba(100, 100, 100, 0.1),
    inset 0 1px 2px rgba(0, 0, 0, 0.3); 
    -moz-box-shadow: 0 0 16px rgba(100, 100, 100, 0.1),
    inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px 2px rgba(150, 150, 150, 0.1),
    inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

/* Buttons
------------------------------------------------------------ */
button {
    position: relative;
    margin: 0 auto 30px auto;
    padding: 11px 15px 11px 15px;
    border: none;
    border-radius: 4px;
    background-color: #77C4FF;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
    font: 11px/1 "Asap", Helvetica, sans-serif;
    font-style: italic; 
    font-size: 2.2em;
}

button:hover {
    background-color: #6BBCED;
    cursor: pointer;
}

button:active {
    background: #6BBCED;
    -webkit-box-shadow: inset 0 5px 0 0 #347fa5;
    box-shadow: inset 0 2px 6px 3px rgba(100, 100, 100, 0.2);
}

/* Media Queries
------------------------------------------------------------ */

/* Smaller than standard 960 (devices and browsers)
@media only screen and (max-width: 959px) { } */

/* Bigger than 960 */
@media only screen and (min-width: 1300px) {
    section { width: 1280px; }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    section { width: 768px; }
}

/* All Mobile Sizes (devices and browser) 
@media only screen and (max-width: 767px) { }*/

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 80px) and (max-width: 767px) {
.mobile {
    display: block !important;
}

#steps, #steps2 {
    display: none;
}

#logo {
    position: absolute;
    top: 60px;
    left: 50%;
    z-index: 10;
    margin-left: -80px;
    width: 158px;
    height: 74px;
    background: url("../img/logo.png");
    background-size: 100%;
    -webkit-filter: drop-shadow(2px 2px 6px rgba(0,0,0,0.2));
    filter: url(shadow.svg#drop-shadow);
}

#content {
    top: 200px;
    left: 0;
    margin: 0;
    width: 100%;
    height: auto;
    border-radius: 0;
}

#content-container {
    width: 450px;
    margin: 0 auto;
}

h1 {
    font-size: 3.4em;
    text-align: left;
}

h3 {
    position: relative;
    padding-top: 30px;
    border-bottom: 1px dotted;
    color: #666;
    font-style: italic;
    font-size: 2em;
    line-height: 13px;
    cursor: pointer;
    -webkit-transition: color 0.2s linear;
}

#consumer-form, #customer-form {
    margin: 0;
    left: 0;
    width: 440px;
    display: inline-block;
}

#consumer-form {
    margin: 12px 0 8px 0;
}

input[type=text] {
    position: relative;
    margin: 0 auto 10px;
    padding: 10px 15px 10px 15px;
    width: 85%;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #666;
    font-size: 14px;
}

button {
    margin: 0 auto 70px auto;
}

#fb-icon, #twitter-icon {
    display: none;
}

#fb-icon, #twitter-icon {
    position: relative;
    top: -8px;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: url("../img/fb-icon-blue.png");
    background-size: 100%;
}

#twitter-icon {
    position: relative;
    top: -32px;
    left: 32px;
    background: url("../img/twitter-icon-blue.png");
    background-size: 100%;
    margin-bottom: 15px;
}
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
#content-container {
    position: relative;
    width: 240px;
    left: 50%;
    margin: 0 0 0 -120px;
    overflow: hidden;
}

#consumer-form, #customer-form {
    margin: 0;
    left: 0;
    width: 240px;
    display: inline-block;
}


}
